<div class="relative w-full h-[136px]">
	<p class="font-bold text-3xl text-center h-[108px] relative z-10 bg-[#1F2237] text-white py-5 leading-1">Your Journey, Your Way
		<br>
		<span class="text-lg font-medium leading-1 text-slate-300">Choose as many paths as you want—take it at your own pace!</span>
	</p>
</div>

<div class="grid grid-cols-3 grid-rows-[1fr 1fr] w-[100%] h-[80%] place-items-center">
	{% import '_macros/courses.html.twig' as courses %}

	{% for course in courses %}
		{{ courses.course_card(course) }}
	{% endfor %}
</div>
