{% extends 'base.html.twig' %}

{% block section %}
	<title>
		{% block title %}sewai | Dashboard
		{% endblock %}
	</title>
{% endblock %}

{% block body %}
	<div class="dashboard-container grid grid-cols-[18rem auto];">
		{% block sidebar %}
			{% include 'dashboard/_sidebar.html.twig' %}
		{% endblock %}

		<div class="courses-section">
			{% block content %}
				{% if selectedCourse %}
					{% include 'dashboard/_selected_course.html.twig' %}
				{% elseif selectedLesson %}
					{% include 'dashboard/_selected_lesson.html.twig' %}
				{% else %}
					{% include 'dashboard/_courses_section.html.twig' %}
				{% endif %}
			{% endblock %}
		</div>

		{% include 'dashboard/_dashboard_styles.html.twig' %}
	</div>
{% endblock %}
