{% extends 'base.html.twig' %}

{% block title %}sewai | Answer the question{% endblock %}

{% block body %}
    <div class="dashboard-container wasili">
        <div class="profile-sidebar-container flex flex-col gap-4 w-72">
            <div class="p-7 flex items-center gap-4">
                <img class="w-16 h-16 rounded-full" src="{{ app.user.profilePic | default('imgs/userDefaultPfp.png') }}" alt="Profile Picture">
                <div class="font-medium text-black">
                    <div class="text-xl font-semibold">{{ app.user.username }}</div>
                    <div class="text-lg text-gray-500 flex items-center gap-2">
                        <span>{{ app.user.email }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="answer-container">
           <h2>{{ response }}</h2>
        </div>
    </div>

    <style>
        .wasili {
            display: grid;
            grid-template-columns: 288px auto;
        }
    </style>

{% endblock %}
